name: Purge jsDelivr Cache

on:
  workflow_dispatch:

jobs:
  purge-cache:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout static branch
        uses: actions/checkout@v4
        with:
          ref: 'static'

      - name: Install curl
        run: |
          sudo apt-get update
          sudo apt-get install -y curl

      - name: Send Purge Requests to jsDelivr for all assets
        run: |
          for file in $(find assets -type f); do
            url="https://purge.jsdelivr.net/gh/scarletborder/bloggerv2@static/$file"
            echo "Purging $url"
            curl -sS "$url" &
          done

          # 等待所有后台 curl 进程完成
          wait
          echo "All purge requests have been sent."
